# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

variables:
- group: vm-ssh-secrets

pool:
  vmImage: ubuntu-latest

steps:
- script: |
    set -e

    mkdir -p ~/.ssh

    echo "$(SSH_PRIVATE_KEY_B64)" | base64 -d > ~/.ssh/id_ed25519
    chmod 600 ~/.ssh/id_ed25519

    wc -l ~/.ssh/id_ed25519

    ssh-keyscan -H $(VM_IP) >> ~/.ssh/known_hosts

    ssh -i ~/.ssh/id_ed25519 \
        $(VM_USER)@$(VM_IP) \
        "echo CONNECTED && hostname"

