# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

variables:
- group: vm-ssh-secrets

pool:
  vmImage: ubuntu-latest

steps:

- script: |
    echo "VM_IP=$VM_IP"
    echo "VM_USER=$VM_USER"
    echo "Key=$(SSH_PRIVATE_KEY_B64)"
    if [ -z "$(SSH_PRIVATE_KEY_B64)" ]; then
      echo "❌ KEY EMPTY"
    else
      echo "✅ KEY PRESENT"
      echo "Length: ${#SSH_PRIVATE_KEY_B64}"
    fi
  displayName: Debug Variables
