version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: healthvault
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    container_name: healthvault-api
    ports:
      - "4000:4000"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: healthvault
      POSTGRES_HOST: postgres
    volumes:
      - ./api:/app
      - /app/node_modules
    depends_on:
      - postgres

  admin:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: healthvault-admin
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_URL: http://api:4000
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - api

volumes:
  pgdata:
