version: "3.9"

services:
  admin:
    container_name: healthvault-admin
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    restart: unless-stopped
