apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: nitishk21
spec:
  replicas: 3
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
      - name: admin
        image: nitishk21/my-app:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 3000  
        resources:
          requests:
            cpu: "250m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"


        readinessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
          failureThreshold: 3

        envFrom:
          - configMapRef:
              name: admin-config
          - secretRef:
              name: postgres-secret
